@{
    // get the id area which represnets a town and surrounding areas
    var area_id = Request.QueryString["parameter1"];

    if(area_id == null){
        
        <h2>oi mate town doesnt exist</h2>
    }

}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
